@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.mobile-desktop{
    display: none;
}

aside{
    display: none;
}
.mobile-intro-img{
    display: none;
}




.nav-left{
    display: flex;

}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.nav-links{
    display: flex;
    list-style: none;
   gap: 30px;
}

.nav-links a{
 color: rgba(126,128,133,255);
 text-decoration: none;
 transition: 0.4 ease-in-out;
}

.nav-links a:hover{
    color: black;
    border-bottom: 3px solid #FF7E1B;
    padding-bottom: 40px;
}
.nav-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

hr{
    opacity: 0.4;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.person{
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: 3px solid transparent;
}


.person:hover{
    border: 3px solid #FF7E1B;
    border-radius: 50%;

}

.burger{
    display: none;
}

.mobile-intro-image{
    display: none;
}
/* ===================== main===================== */


.main-wrapper{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.intro-main-img{
    cursor: pointer;
    height: 350px;
    width: 350px;
    /* background-image: url(./images/image-product-1.jpg); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden; 
    border-radius: 20px;
}

.intro-content{
    margin-left: 100px;
}

.inner-content{
    width: 430px;
    margin-top: 50px;
}

.company{
    color: rgba(114,117,123,255);
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03cm;
}


.main-heading{
    font-family: "Kumbh Sans", sans-serif;
    line-height: 0.9cm;
    margin: 20px 0 30px 0;
}


.content-paragraph{
    color: rgba(126,128,133,255);
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px;
}

.price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.new-price{
    font-size: 2rem;
    font-weight: 600;
}

.discount-per{
    margin-left: 10px;
    background-color: rgba(27,30,38,255);
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
}

.old-price{
    color: rgba(116,119,126,255);
    text-decoration: line-through;
    font-weight: 800;
}


.quantity{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.quantity-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: rgba(247,248,253,255);
    padding: 15px 15px;
    border-radius: 10px;
    font-weight: 800;
}
.add-to-cart{
    width: 60%;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(255,125,27,255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.add-to-cart:hover{
    background-color: rgba(255,172,106,255);
}
.add-to-cart-btn{
   
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}


.cart-btn{
    color: black;
    margin-right: 10px;
}


.intro-secondary-img{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.item{
    cursor: pointer;
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.item1{
    background-image: url(./images/image-product-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.item2{
    background-image: url(./images/image-product-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item3{
    background-image: url(./images/image-product-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item4{
    background-image: url(./images/image-product-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 40%;
    }
.attribution a { color: hsl(228, 45%, 44%); }


.cart-header{
    color: rgba(116,119,126,255);

}

.logo{
    margin-right: 60px;
    cursor: pointer;
}


.plus{
   width: 12px;
   height: 12px;
    cursor: pointer;
   color: #FF7E1B;
   transition: 0.4s ease-in-out;
}

.plus:hover{
    color: rgba(254,180,122,255);
}


.minus{
    transition: 0.4s ease-in-out;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #FF7E1B;
}

.minus:hover{
    color: rgba(254,180,122,255);
}

.header-cart{
    color: rgba(116,119,126,255);
    cursor: pointer;
    transition: 0.4s ease-in-out;
   
}


.header-cart:hover{
    color: black;
}


.item:hover{
    opacity: 0.5;
}

.active{
    opacity: 0.2;
    border: 2px solid #FF7E1B;
}

.active-border{
    border: 2px solid #FF7E1B;
    border-radius: 10px;
}

.cart-content{
    display: none;
    position: absolute;
    top: 50px;
    right: -120px;
    width: 330px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.141);
    z-index: 999999;
    background-color: #ffff;
    hr{
        margin: 0;
    }
}

.cart{
    position: relative;
}

.cart-content-heading{
    padding: 10px;
    
}

.empty-cart{
    height: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(116,119,126,255);
    font-weight: 600;
    padding: 10px;
}

.display-block{
    display: block;
}

.cart-product-img{
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.filled{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkout{
    border-radius: 10px;
    border: none;
    background-color: #FF7E1B;
    color: black;
    font-weight: 700;
    margin-top: 20px;
    width: 90%;
    padding: 10px 0;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}


.checkout:hover{
    background-color: rgba(255,172,106,255);
}

.filled-main{

    display: none;
    flex-flow: column;
    align-items: center;
}

.cart-product-sum{
    font-weight: 700;
    color: black;
}

.display-flex{
    display: flex;
}

.display-none{
    display: none;
}

.cart-span{
    display: block;
}

.cart-decor{
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #FF7E1B;
    color: white;
    font-size: 0.5rem;
    text-align: center;
}

.cart-svg{
    position: relative;
}

#trash{
    cursor: pointer;
}


.prduct-zoom{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.intro-main-img-zoom{
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden; 
    border-radius: 20px;
    /* position: relative; */
   
}

.intro-secondary-img-zoom{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.item-zoom{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.469);
    width: 95px;
    height: 95px;
    border-radius: 10px;
}

.left-arrow svg{
    width: 32px;
    height: 32px;
    transition: 0.2s ease-in-out;
    fill: rgb(35, 34, 34);
}

.left-arrow{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: -5px;
    background-color: white;
    z-index: 99999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 550px;
    position: relative;
}

.right-arrow{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: -5px;
    background-color: white;
    z-index: 99999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow svg{
    width: 32px;
    height: 32px;
    fill: rgb(35, 34, 34);
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.item-zoom:hover{
    opacity: 0.5;
}

.x{
    position: absolute;
    top: 100px;
    right: 0;
    cursor: pointer;
}

.x svg{
    width: 28px;
    height: 28px;
    fill: white;
    transition: 0.2s ease-in-out;
}

.x svg:hover{
    fill: #FF7E1B;
}

.right-arrow svg:hover{
    fill: #FF7E1B;
}

.left-arrow svg:hover{
    fill: #FF7E1B;
}

@media only screen and (max-width: 900px) {
    .wrapper{
        max-width: 800px;
        margin: 0 auto;
    }

    .main-wrapper{
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .intro-content{
        margin-left: 40px;
    }
    
    .inner-content{
        width: 230px;
        margin-top: 20px;
    }

    .main-heading{
        font-family: "Kumbh Sans", sans-serif;
        line-height: 0.9cm;
        margin: 10px 0 15px 0;
        font-size: 1.5rem;
    }

    .intro-main-img{  
        height: 250px;
        width: 250px;
    }

    .item{
        width: 48px;
        height: 48px;
        border-radius: 10px;
    }
    .new-price{
        font-size: 1.5rem;
    }
    
    .old-price{
        font-size: 0.9rem;
    }

    .discount-per{
        margin-left: 10px;
        background-color: rgba(27,30,38,255);
        color: #fff;
        padding: 2px 5px;
        border-radius: 5px;
    }

    .nav-links{
       gap: 15px;
    }

    .logo{
        margin-right: 20px;
    }
}





@media only screen and (max-width: 480px) {
    aside{
        display: block;
    }
    .mobile-desktop{
        display: block;
    }

    body{
        overflow: hidden;
    }
    .nav-links{
        display: none;
    }

    .nav-left{
        text-align: center;
        display: flex;
        align-items: center;
    }

    .intro-product{
        display: none;
    }

    hr{
        display: none;
    }


    .logo{
        margin-right: 15px;
    }
  

   .burger{
    display: block;
    margin: 0 10px;
   }

    .main-wrapper{
        display: none;
    }


    .cart-content{
        position: absolute;
        top: 50px;
        right: -20px;
        width: 80vw;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.141);
        z-index: 999999;
        background-color: #ffff;
        hr{
            display: block;
            margin: 0;
        }
    }

    .burger-content{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        background-color: #fff;
        padding: 20px;
    }

    .aside-x{
        width: 12px;
        height: 8px;
        margin-bottom: 60px;
    }
    

    .aside-ul{
        display: flex;
        flex-flow: column;
        list-style: none;
        color: black;

        li{
            margin-bottom: 15px;
        }

        li a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        }



    }

    .attribution{
        display: none;
    }

    .mobile-desktop{
         width: 100%;
         position: relative;
    }

    .mobile-intro-image{
       
        display: block;
       /* height: 480px;
        width: 480px;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat; */
        width: 100vw;

        img{
            width: 100vw;
            height: calc(vh(100vw));
        }
    }


   
    .left-arrow{
        position: absolute;
        top: 180px;
        left: 20px;
        width: 42px;
        height: 42px;
        opacity: 0.8;
    }

    .right-arrow{
        position: absolute;
        top: 180px;
        right: 20px;
        width: 42px;
        height: 42px;
        opacity: 0.8;
    }

    .intro-content{
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .inner-content{
        width: 100vw;
        padding: 20px;
    }


    .old-price{
        margin-left: calc(100vw - 60vw);
        
    }

    .quantity{
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .quantity-select{
        width: 95%;
        padding: 20px 10px;
    }

    .add-to-cart{
        margin-top: 20px;
        padding: 20px 10px;
        width: 95%;
    }
}


@media only screen and (max-width: 460px) {

    .cart-content{
        position: absolute;
        top: 50px;
        right: -25px;
       
        
        hr{
            display: block;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 440px) {

    .cart-content{
        position: absolute;
        top: 50px;
        right: -40px;
       
        
    
    }
}


@media only screen and (max-width: 420px) {

    .cart-content{
        position: absolute;
        top: 50px;
        right: calc();
       
        
    
    }
}

@media only screen and (max-width: 380px) {

    .mobile-intro-image{
       
       
       /* height: 480px;
        width: 480px;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat; */
        width: 100vw;

        img{
            width: 100vw;
            height: calc(vh(100vw));
        }
    }

    .inner-content{
        padding: 0;
    }

    .old-price{
        margin-left: 40px;
        
    }

    .person{
        width: 38px;
        height: 38px;
    }

    .quantity-select{
        width: 200px;
        margin: 0 auto;
    }

    .add-to-cart{
        width: 200px;
        margin: 0 auto;
    }

    .logo img{
        width: 100px;
        height: 20px;
    }

    
    
}

